In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Quelimane,MZ,2022-04-20 16:08:53,-17.8786,36.8883,73.04,96,67,6.87
1,1,Vaini,TO,2022-04-20 16:08:53,-21.2000,-175.2000,73.56,100,75,3.44
2,2,Kodiak,US,2022-04-20 16:08:54,57.7900,-152.4072,31.51,93,0,5.75
3,3,Tuktoyaktuk,CA,2022-04-20 16:08:55,69.4541,-133.0374,-0.76,100,98,2.42
4,4,Busselton,AU,2022-04-20 16:04:08,-33.6500,115.3333,56.23,83,0,13.15

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent clodiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Ojinaga,MX,2022-04-20 16:08:57,29.5667,-104.4167,89.56,39,0,0.00
9,9,Veraval,IN,2022-04-20 16:08:58,20.9000,70.3667,86.99,55,91,17.36
10,10,Sabang,ID,2022-04-20 16:08:59,5.8933,95.3214,83.71,69,100,4.68
18,18,Puerto Ayora,EC,2022-04-20 16:09:03,-0.7393,-90.3518,76.96,81,70,8.14
19,19,Puerto Lempira,HN,2022-04-20 16:09:03,15.2667,-83.7667,87.94,66,40,6.91
20,20,Rikitea,PF,2022-04-20 16:09:04,-23.1203,-134.9692,78.31,70,18,16.60
25,25,Atuona,PF,2022-04-20 16:09:06,-9.8000,-139.0333,78.85,73,59,20.42
26,26,Salalah,OM,2022-04-20 16:09:07,17.0151,54.0924,82.49,74,0,5.75
27,27,Faanui,PF,2022-04-20 16:09:07,-16.4833,-151.7500,80.01,70,2,3.53
35,35,Butaritari,KI,2022-04-20 16:09:11,3.0707,172.7902,80.67,81,100,14.09

In [18]:
preferred_cities_df.count()

City_ID       167
City          167
Country       167
Date          167
Lat           167
Lng           167
Max Temp      167
Humidity      167
Cloudiness    167
Wind Speed    167
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
7          Ojinaga      MX     89.56  29.5667 -104.4167
9          Veraval      IN     86.99  20.9000   70.3667
10          Sabang      ID     83.71   5.8933   95.3214
18    Puerto Ayora      EC     76.96  -0.7393  -90.3518
19  Puerto Lempira      HN     87.94  15.2667  -83.7667
20         Rikitea      PF     78.31 -23.1203 -134.9692
25          Atuona      PF     78.85  -9.8000 -139.0333
26         Salalah      OM     82.49  17.0151   54.0924
27          Faanui      PF     80.01 -16.4833 -151.7500
35      Butaritari      KI     80.67   3.0707  172.7902

In [20]:
# Set parameters to search for a hotel.
params = {"radius": 5000,"type": "lodging","key": g_key}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Ojinaga,MX,89.56,29.5667,-104.4167,Suites Las Palmas
9,Veraval,IN,86.99,20.9000,70.3667,Lords Inn Somnath
10,Sabang,ID,83.71,5.8933,95.3214,Hotel Citra
18,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
19,Puerto Lempira,HN,87.94,15.2667,-83.7667,Puerto Lempira gracias a Dios
20,Rikitea,PF,78.31,-23.1203,-134.9692,People ThankYou
25,Atuona,PF,78.85,-9.8000,-139.0333,Villa Enata
26,Salalah,OM,82.49,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
27,Faanui,PF,80.01,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
35,Butaritari,KI,80.67,3.0707,172.7902,Isles Sunset Lodge

In [25]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))