## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,7,San Patricio,US,83.53,few clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
1,10,Mount Isa,AU,76.77,overcast clouds,-20.7333,139.5000,ibis Styles Mt Isa Verona
2,11,Mahebourg,MU,77.25,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
3,14,Lamar,US,79.99,broken clouds,33.6668,-95.5836,Kings Inn Paris TX
4,22,Padang,ID,75.25,overcast clouds,-0.9492,100.3543,Mercure Padang

In [120]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [96]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Yucca Valley"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Yucca Valley"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Pahrump"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Saint George"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Kingman"]
vacation_start

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
208,683,Yucca Valley,US,76.95,clear sky,34.1142,-116.4322,Americas Best Value Inn & Suites Joshua Tree N...

In [116]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()[0]
end = vacation_end[["Lat","Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()[0]

In [117]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
trip_layer = gmaps.directions_layer(start,end,waypoints=(stop1,stop2,stop3),travel_mode='DRIVING')
fig.add_layer(trip_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [118]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,683,Yucca Valley,US,76.95,clear sky,34.1142,-116.4322,Americas Best Value Inn & Suites Joshua Tree N...
1,1683,Pahrump,US,76.84,scattered clouds,36.2083,-115.9839,Best Western Pahrump Oasis
2,252,Saint George,US,84.79,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
3,1739,Kingman,US,79.54,clear sky,35.1894,-114.0530,Rodeway Inn Kingman Route 66
4,683,Yucca Valley,US,76.95,clear sky,34.1142,-116.4322,Americas Best Value Inn & Suites Joshua Tree N...

In [123]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [124]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))